In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('../data/melb_data.csv')

In [3]:
df.head(7)

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,3067.0,...,1.0,1.0,202.0,NaN,NaN,Yarra,-37.7996,144.9984,Northern Metropolitan,4019.0
1,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,3067.0,...,1.0,0.0,156.0,79.0,1900.0,Yarra,-37.8079,144.9934,Northern Metropolitan,4019.0
2,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,3067.0,...,2.0,0.0,134.0,150.0,1900.0,Yarra,-37.8093,144.9944,Northern Metropolitan,4019.0
3,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,4/03/2017,2.5,3067.0,...,2.0,1.0,94.0,NaN,NaN,Yarra,-37.7969,144.9969,Northern Metropolitan,4019.0
4,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,3067.0,...,1.0,2.0,120.0,142.0,2014.0,Yarra,-37.8072,144.9941,Northern Metropolitan,4019.0
5,Abbotsford,129 Charles St,2,h,941000.0,S,Jellis,7/05/2016,2.5,3067.0,...,1.0,0.0,181.0,NaN,NaN,Yarra,-37.8041,144.9953,Northern Metropolitan,4019.0
6,Abbotsford,124 Yarra St,3,h,1876000.0,S,Nelson,7/05/2016,2.5,3067.0,...,2.0,0.0,245.0,210.0,1910.0,Yarra,-37.8024,144.9993,Northern Metropolitan,4019.0

In [4]:
df.tail()

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
13575,Wheelers Hill,12 Strada Cr,4,h,1245000.0,S,Barry,26/08/2017,16.7,3150.0,...,2.0,2.0,652.0,NaN,1981.0,NaN,-37.90562,145.16761,South-Eastern Metropolitan,7392.0
13576,Williamstown,77 Merrett Dr,3,h,1031000.0,SP,Williams,26/08/2017,6.8,3016.0,...,2.0,2.0,333.0,133.0,1995.0,NaN,-37.85927,144.87904,Western Metropolitan,6380.0
13577,Williamstown,83 Power St,3,h,1170000.0,S,Raine,26/08/2017,6.8,3016.0,...,2.0,4.0,436.0,NaN,1997.0,NaN,-37.85274,144.88738,Western Metropolitan,6380.0
13578,Williamstown,96 Verdon St,4,h,2500000.0,PI,Sweeney,26/08/2017,6.8,3016.0,...,1.0,5.0,866.0,157.0,1920.0,NaN,-37.85908,144.89299,Western Metropolitan,6380.0
13579,Yarraville,6 Agnes St,4,h,1285000.0,SP,Village,26/08/2017,6.3,3013.0,...,1.0,1.0,362.0,112.0,1920.0,NaN,-37.81188,144.88449,Western Metropolitan,6543.0

In [5]:
df.shape

(13580, 21)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13580 entries, 0 to 13579
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Suburb         13580 non-null  object
 1   Address        13580 non-null  object
 2   Rooms          13580 non-null  int64
 3   Type           13580 non-null  object
 4   Price          13580 non-null  float64
 5   Method         13580 non-null  object
 6   SellerG        13580 non-null  object
 7   Date           13580 non-null  object
 8   Distance       13580 non-null  float64
 9   Postcode       13580 non-null  float64
 10  Bedroom2       13580 non-null  float64
 11  Bathroom       13580 non-null  float64
 12  Car            13518 non-null  float64
 13  Landsize       13580 non-null  float64
 14  BuildingArea   7130 non-null   float64
 15  YearBuilt      8205 non-null   float64
 16  CouncilArea    12211 non-null  object
 17  Lattitude      13580 non-null  float64
 18  Longtitude     13580 non-null  float64
 19  Regionname     13580 non-null  object
 20  Propertycount  13580 non-null  float64
dtypes: float64(12), int64(1), object(8)
memory usage: 2.2+ MB

In [7]:
df.shape

(13580, 21)

In [8]:
df.describe()

,Rooms,Price,Distance,Postcode,Bedroom2,Bathroom,Car,Landsize,BuildingArea,YearBuilt,Lattitude,Longtitude,Propertycount
count,13580.000000,1.358000e+04,13580.000000,13580.000000,13580.000000,13580.000000,13518.000000,13580.000000,7130.000000,8205.000000,13580.000000,13580.000000,13580.000000
mean,2.937997,1.075684e+06,10.137776,3105.301915,2.914728,1.534242,1.610075,558.416127,151.967650,1964.684217,-37.809203,144.995216,7454.417378
std,0.955748,6.393107e+05,5.868725,90.676964,0.965921,0.691712,0.962634,3990.669241,541.014538,37.273762,0.079260,0.103916,4378.581772
min,1.000000,8.500000e+04,0.000000,3000.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1196.000000,-38.182550,144.431810,249.000000
25%,2.000000,6.500000e+05,6.100000,3044.000000,2.000000,1.000000,1.000000,177.000000,93.000000,1940.000000,-37.856822,144.929600,4380.000000
50%,3.000000,9.030000e+05,9.200000,3084.000000,3.000000,1.000000,2.000000,440.000000,126.000000,1970.000000,-37.802355,145.000100,6555.000000
75%,3.000000,1.330000e+06,13.000000,3148.000000,3.000000,2.000000,2.000000,651.000000,174.000000,1999.000000,-37.756400,145.058305,10331.000000
max,10.000000,9.000000e+06,48.100000,3977.000000,20.000000,8.000000,10.000000,433014.000000,44515.000000,2018.000000,-37.408530,145.526350,21650.000000

In [9]:
type(df)

pandas.core.frame.DataFrame

In [10]:
type(df['Rooms'])

pandas.core.series.Series

In [11]:
print(df['Rooms'])
print(len(df['Rooms']))

0        2
1        2
2        3
3        3
4        4
        ..
13575    4
13576    3
13577    3
13578    4
13579    4
Name: Rooms, Length: 13580, dtype: int64
13580

In [14]:
less_rooms = df[df['Rooms']>5]
len(less_rooms)

86

In [15]:
less_rooms.head()

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
47,Airport West,11 Harrington Rd,6,h,725000.0,SP,Barry,7/05/2016,13.5,3042.0,...,3.0,2.0,976.0,186.0,1980.0,Moonee Valley,-37.7239,144.8735,Western Metropolitan,3464.0
251,Armadale,367 Dandenong Rd,6,h,5525000.0,S,Marshall,17/09/2016,6.3,3143.0,...,3.0,4.0,1491.0,516.0,1935.0,Stonnington,-37.8602,145.0130,Southern Metropolitan,4836.0
292,Ascot Vale,75 Maribyrnong Rd,6,h,2425000.0,PI,Brad,4/06/2016,5.9,3032.0,...,3.0,2.0,1014.0,435.0,1887.0,Moonee Valley,-37.7721,144.9184,Western Metropolitan,6567.0
322,Ascot Vale,26 Ayr St,6,h,1430000.0,S,Nelson,16/04/2016,5.9,3032.0,...,2.0,1.0,461.0,286.0,1900.0,Moonee Valley,-37.7800,144.9295,Western Metropolitan,6567.0
379,Ashburton,115 Ashburn Gr,8,h,2950000.0,S,hockingstuart,10/09/2016,11.0,3147.0,...,7.0,4.0,1472.0,618.0,2009.0,Boroondara,-37.8729,145.0788,Southern Metropolitan,3052.0

In [16]:
df['Rooms'].value_counts()

3     5881
2     3648
4     2688
1      681
5      596
6       67
7       10
8        8
10       1
Name: Rooms, dtype: int64

In [17]:
pd.Series(1, index=list(range(4)), dtype='float32')

0    1.0
1    1.0
2    1.0
3    1.0
dtype: float32

In [18]:
df.dtypes

Suburb            object
Address           object
Rooms              int64
Type              object
Price            float64
Method            object
SellerG           object
Date              object
Distance         float64
Postcode         float64
Bedroom2         float64
Bathroom         float64
Car              float64
Landsize         float64
BuildingArea     float64
YearBuilt        float64
CouncilArea       object
Lattitude        float64
Longtitude       float64
Regionname        object
Propertycount    float64
dtype: object

In [19]:
df.columns

Index(['Suburb', 'Address', 'Rooms', 'Type', 'Price', 'Method', 'SellerG',
       'Date', 'Distance', 'Postcode', 'Bedroom2', 'Bathroom', 'Car',
       'Landsize', 'BuildingArea', 'YearBuilt', 'CouncilArea', 'Lattitude',
       'Longtitude', 'Regionname', 'Propertycount'],
      dtype='object')

In [22]:
df.to_numpy()

array([['Abbotsford', '85 Turner St', 2, ..., 144.9984,
        'Northern Metropolitan', 4019.0],
       ['Abbotsford', '25 Bloomburg St', 2, ..., 144.9934,
        'Northern Metropolitan', 4019.0],
       ['Abbotsford', '5 Charles St', 3, ..., 144.9944,
        'Northern Metropolitan', 4019.0],
       ...,
       ['Williamstown', '83 Power St', 3, ..., 144.88738,
        'Western Metropolitan', 6380.0],
       ['Williamstown', '96 Verdon St', 4, ..., 144.89299,
        'Western Metropolitan', 6380.0],
       ['Yarraville', '6 Agnes St', 4, ..., 144.88449,
        'Western Metropolitan', 6543.0]], dtype=object)

In [23]:
df.T

,0,1,2,3,4,5,6,7,8,9,...,13570,13571,13572,13573,13574,13575,13576,13577,13578,13579
Suburb,Abbotsford,Abbotsford,Abbotsford,Abbotsford,Abbotsford,Abbotsford,Abbotsford,Abbotsford,Abbotsford,Abbotsford,...,Wantirna South,Wantirna South,Watsonia,Werribee,Westmeadows,Wheelers Hill,Williamstown,Williamstown,Williamstown,Yarraville
Address,85 Turner St,25 Bloomburg St,5 Charles St,40 Federation La,55a Park St,129 Charles St,124 Yarra St,98 Charles St,6/241 Nicholson St,10 Valiant St,...,34 Fewster Dr,15 Mara Cl,76 Kenmare St,5 Nuragi Ct,9 Black St,12 Strada Cr,77 Merrett Dr,83 Power St,96 Verdon St,6 Agnes St
Rooms,2,2,3,3,4,2,3,2,1,2,...,3,4,2,4,3,4,3,3,4,4
Type,h,h,h,h,h,h,h,h,u,h,...,h,h,h,h,h,h,h,h,h,h
Price,1.48e+06,1.035e+06,1.465e+06,850000,1.6e+06,941000,1.876e+06,1.636e+06,300000,1.097e+06,...,970000,1.33e+06,650000,635000,582000,1.245e+06,1.031e+06,1.17e+06,2.5e+06,1.285e+06
Method,S,S,SP,PI,VB,S,S,S,S,S,...,S,S,PI,S,S,S,SP,S,PI,SP
SellerG,Biggin,Biggin,Biggin,Biggin,Nelson,Jellis,Nelson,Nelson,Biggin,Biggin,...,Barry,Barry,Morrison,hockingstuart,Red,Barry,Williams,Raine,Sweeney,Village
Date,3/12/2016,4/02/2016,4/03/2017,4/03/2017,4/06/2016,7/05/2016,7/05/2016,8/10/2016,8/10/2016,8/10/2016,...,26/08/2017,26/08/2017,26/08/2017,26/08/2017,26/08/2017,26/08/2017,26/08/2017,26/08/2017,26/08/2017,26/08/2017
Distance,2.5,2.5,2.5,2.5,2.5,2.5,2.5,2.5,2.5,2.5,...,14.7,14.7,14.5,14.7,16.5,16.7,6.8,6.8,6.8,6.3
Postcode,3067,3067,3067,3067,3067,3067,3067,3067,3067,3067,...,3152,3152,3087,3030,3049,3150,3016,3016,3016,3013
Bedroom2,2,2,3,3,3,2,4,2,1,3,...,3,4,2,4,3,4,3,3,4,4
Bathroom,1,1,2,2,1,1,2,1,1,1,...,2,2,1,2,2,2,2,2,1,1
Car,1,0,0,1,2,0,0,2,1,2,...,2,2,1,1,2,2,2,4,5,1
Landsize,202,156,134,94,120,181,245,256,0,220,...,674,717,210,662,256,652,333,436,866,362
BuildingArea,NaN,79,150,NaN,142,NaN,210,107,NaN,75,...,NaN,191,79,172,NaN,NaN,133,NaN,157,112
YearBuilt,NaN,1900,1900,NaN,2014,NaN,1910,1890,NaN,1900,...,NaN,1980,2006,1980,NaN,1981,1995,1997,1920,1920
CouncilArea,Yarra,Yarra,Yarra,Yarra,Yarra,Yarra,Yarra,Yarra,Yarra,Yarra,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Lattitude,-37.7996,-37.8079,-37.8093,-37.7969,-37.8072,-37.8041,-37.8024,-37.806,-37.8008,-37.801,...,-37.8836,-37.8689,-37.7066,-37.8933,-37.6792,-37.9056,-37.8593,-37.8527,-37.8591,-37.8119
Longtitude,144.998,144.993,144.994,144.997,144.994,144.995,144.999,144.995,144.997,144.999,...,145.228,145.221,145.079,144.648,144.894,145.168,144.879,144.887,144.893,144.884
Regionname,Northern Metropolitan,Northern Metropolitan,Northern Metropolitan,Northern Metropolitan,Northern Metropolitan,Northern Metropolitan,Northern Metropolitan,Northern Metropolitan,Northern Metropolitan,Northern Metropolitan,...,Eastern Metropolitan,Eastern Metropolitan,Northern Metropolitan,Western Metropolitan,Northern Metropolitan,South-Eastern Metropolitan,Western Metropolitan,Western Metropolitan,Western Metropolitan,Western Metropolitan
Propertycount,4019,4019,4019,4019,4019,4019,4019,4019,4019,4019,...,7082,7082,2329,16166,2474,7392,6380,6380,6380,6543

In [25]:
df[50:80]

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
50,Airport West,2/62 Clydesdale Rd,2,u,530000.0,S,Nelson,10/09/2016,13.5,3042.0,...,1.0,1.0,120.0,94.0,2012.0,Moonee Valley,-37.7234,144.8792,Western Metropolitan,3464.0
51,Airport West,3 Deidre Ct,3,h,895000.0,PI,Rendina,10/09/2016,13.5,3042.0,...,1.0,6.0,1063.0,133.0,1975.0,Moonee Valley,-37.7249,144.8728,Western Metropolitan,3464.0
52,Airport West,13 Etzel St,3,h,805000.0,S,Nelson,10/12/2016,13.5,3042.0,...,1.0,1.0,0.0,105.0,1950.0,Moonee Valley,-37.7217,144.8783,Western Metropolitan,3464.0
53,Airport West,1/43 Cameron St,3,u,752000.0,S,Nelson,11/02/2017,13.5,3042.0,...,1.0,1.0,265.0,130.0,1993.0,Moonee Valley,-37.7302,144.8855,Western Metropolitan,3464.0
54,Airport West,145a Victory Rd,2,u,440000.0,S,Barry,13/08/2016,13.5,3042.0,...,1.0,1.0,192.0,NaN,NaN,Moonee Valley,-37.7177,144.8787,Western Metropolitan,3464.0
55,Airport West,241 Parer Rd,5,h,755000.0,PI,Propertyau,14/05/2016,13.5,3042.0,...,2.0,2.0,596.0,NaN,NaN,Moonee Valley,-37.7248,144.8699,Western Metropolitan,3464.0
56,Airport West,2/40 Earl St,3,t,700000.0,PI,Brad,15/10/2016,13.5,3042.0,...,2.0,2.0,165.0,133.0,2009.0,Moonee Valley,-37.7270,144.8870,Western Metropolitan,3464.0
57,Airport West,180 Parer Rd,3,h,830000.0,S,Barry,16/04/2016,13.5,3042.0,...,1.0,2.0,971.0,113.0,1960.0,Moonee Valley,-37.7186,144.8760,Western Metropolitan,3464.0
58,Airport West,4/54 Hawker St,2,u,462500.0,S,Barry,16/07/2016,13.5,3042.0,...,1.0,1.0,164.0,NaN,2003.0,Moonee Valley,-37.7218,144.8863,Western Metropolitan,3464.0
59,Airport West,43 Hillside Gr,3,h,670000.0,SP,Barry,16/07/2016,13.5,3042.0,...,2.0,2.0,657.0,NaN,NaN,Moonee Valley,-37.7269,144.8742,Western Metropolitan,3464.0
60,Airport West,174 Parer Rd,2,h,675000.0,S,Barry,16/07/2016,13.5,3042.0,...,1.0,1.0,612.0,100.0,1975.0,Moonee Valley,-37.7187,144.8765,Western Metropolitan,3464.0
61,Airport West,138 Victory Rd,3,h,1042000.0,S,Nelson,16/07/2016,13.5,3042.0,...,2.0,5.0,612.0,174.0,1950.0,Moonee Valley,-37.7173,144.8796,Western Metropolitan,3464.0
62,Airport West,75 King St,3,h,910000.0,S,McDonald,17/09/2016,13.5,3042.0,...,1.0,1.0,775.0,NaN,NaN,Moonee Valley,-37.7231,144.8835,Western Metropolitan,3464.0
63,Airport West,6 Kittyhawk St,4,h,773000.0,S,Brad,17/09/2016,13.5,3042.0,...,3.0,4.0,531.0,309.0,1980.0,Moonee Valley,-37.7263,144.8679,Western Metropolitan,3464.0
64,Airport West,478 Fullarton Rd,3,h,810000.0,PI,Barry,18/03/2017,13.5,3042.0,...,3.0,2.0,555.0,192.0,1980.0,Moonee Valley,-37.7285,144.8694,Western Metropolitan,3464.0
65,Airport West,144 Marshall Rd,3,h,715000.0,S,Rendina,18/03/2017,13.5,3042.0,...,2.0,2.0,422.0,126.0,1995.0,Moonee Valley,-37.7164,144.8792,Western Metropolitan,3464.0
66,Airport West,106 Parer Rd,3,h,790000.0,S,Nelson,18/03/2017,13.5,3042.0,...,1.0,3.0,614.0,NaN,NaN,Moonee Valley,-37.7194,144.8827,Western Metropolitan,3464.0
67,Airport West,3/7 South Rd,3,t,540000.0,SP,Nelson,18/06/2016,13.5,3042.0,...,2.0,1.0,161.0,101.0,2010.0,Moonee Valley,-37.7231,144.8802,Western Metropolitan,3464.0
68,Airport West,37 North St,3,t,825000.0,SP,Barry,19/11/2016,13.5,3042.0,...,2.0,1.0,293.0,102.0,1960.0,Moonee Valley,-37.7200,144.8776,Western Metropolitan,3464.0
69,Airport West,10 Hilbert Rd,3,h,685000.0,S,Barry,22/05/2016,13.5,3042.0,...,1.0,1.0,579.0,113.0,1975.0,Moonee Valley,-37.7226,144.8733,Western Metropolitan,3464.0
70,Airport West,110 Halsey Rd,3,h,805000.0,S,Barry,22/08/2016,13.5,3042.0,...,1.0,1.0,623.0,NaN,NaN,Moonee Valley,-37.7184,144.8820,Western Metropolitan,3464.0
71,Airport West,2/13 North St,2,u,510000.0,S,Nelson,22/08/2016,13.5,3042.0,...,1.0,1.0,141.0,76.0,NaN,Moonee Valley,-37.7202,144.8797,Western Metropolitan,3464.0
72,Airport West,105a Victory Rd,3,h,612000.0,S,Nelson,22/08/2016,13.5,3042.0,...,2.0,1.0,212.0,NaN,NaN,Moonee Valley,-37.7181,144.8824,Western Metropolitan,3464.0
73,Airport West,117 Marshall Rd,3,h,662000.0,S,Brad,23/04/2016,13.5,3042.0,...,1.0,2.0,612.0,NaN,NaN,Moonee Valley,-37.7169,144.8815,Western Metropolitan,3464.0
74,Airport West,34 Moorna Dr,4,h,978000.0,S,Nelson,24/09/2016,13.5,3042.0,...,3.0,2.0,532.0,NaN,NaN,Moonee Valley,-37.7263,144.8690,Western Metropolitan,3464.0
75,Airport West,33 North St,3,h,720000.0,PI,Nelson,25/02/2017,13.5,3042.0,...,1.0,1.0,585.0,NaN,NaN,Moonee Valley,-37.7200,144.8780,Western Metropolitan,3464.0
76,Airport West,49 Roberts Rd,4,h,765000.0,S,Prof.,27/11/2016,13.5,3042.0,...,1.0,2.0,509.0,NaN,NaN,Moonee Valley,-37.7261,144.8785,Western Metropolitan,3464.0
77,Airport West,85 Roberts Rd,4,h,900000.0,S,Harcourts,27/11/2016,13.5,3042.0,...,2.0,3.0,628.0,146.0,1975.0,Moonee Valley,-37.7256,144.8739,Western Metropolitan,3464.0
78,Albert Park,105 Kerferd Rd,2,h,1275000.0,S,hockingstuart,3/09/2016,3.3,3206.0,...,1.0,0.0,120.0,82.0,1900.0,Port Phillip,-37.8459,144.9555,Southern Metropolitan,3280.0
79,Albert Park,85 Richardson St,2,h,1455000.0,S,Thomson,3/09/2016,3.3,3206.0,...,1.0,0.0,159.0,NaN,NaN,Port Phillip,-37.8450,144.9538,Southern Metropolitan,3280.0

In [27]:
df[df['Rooms']>5]

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
47,Airport West,11 Harrington Rd,6,h,725000.0,SP,Barry,7/05/2016,13.5,3042.0,...,3.0,2.0,976.0,186.0,1980.0,Moonee Valley,-37.72390,144.87350,Western Metropolitan,3464.0
251,Armadale,367 Dandenong Rd,6,h,5525000.0,S,Marshall,17/09/2016,6.3,3143.0,...,3.0,4.0,1491.0,516.0,1935.0,Stonnington,-37.86020,145.01300,Southern Metropolitan,4836.0
292,Ascot Vale,75 Maribyrnong Rd,6,h,2425000.0,PI,Brad,4/06/2016,5.9,3032.0,...,3.0,2.0,1014.0,435.0,1887.0,Moonee Valley,-37.77210,144.91840,Western Metropolitan,6567.0
322,Ascot Vale,26 Ayr St,6,h,1430000.0,S,Nelson,16/04/2016,5.9,3032.0,...,2.0,1.0,461.0,286.0,1900.0,Moonee Valley,-37.78000,144.92950,Western Metropolitan,6567.0
379,Ashburton,115 Ashburn Gr,8,h,2950000.0,S,hockingstuart,10/09/2016,11.0,3147.0,...,7.0,4.0,1472.0,618.0,2009.0,Boroondara,-37.87290,145.07880,Southern Metropolitan,3052.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12965,Eltham North,3 Michael Ct,6,h,1115000.0,S,Barry,19/08/2017,18.0,3095.0,...,3.0,4.0,966.0,332.0,1990.0,NaN,-37.68927,145.14910,Eastern Metropolitan,2346.0
13220,Kew East,25 Minogue St,6,h,1875000.0,PI,Marshall,23/09/2017,7.3,3102.0,...,2.0,2.0,697.0,170.0,1962.0,NaN,-37.79032,145.05408,Southern Metropolitan,2671.0
13226,Meadow Heights,13 Haddon Ct,8,h,741000.0,S,Barry,23/09/2017,17.4,3048.0,...,3.0,1.0,1063.0,101.0,1980.0,NaN,-37.65826,144.92538,Northern Metropolitan,4704.0
13426,Forest Hill,16 Wickham Av,6,h,1065000.0,S,hockingstuart,26/08/2017,15.4,3131.0,...,1.0,1.0,704.0,140.0,1950.0,NaN,-37.83161,145.17555,Eastern Metropolitan,4385.0
13503,Mount Waverley,17 Huntingtower Cr,6,h,1840000.0,S,Jellis,26/08/2017,14.2,3149.0,...,2.0,2.0,554.0,368.0,1999.0,NaN,-37.87591,145.13958,Eastern Metropolitan,13366.0

In [29]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13580 entries, 0 to 13579
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Suburb         13580 non-null  object
 1   Address        13580 non-null  object
 2   Rooms          13580 non-null  int64
 3   Type           13580 non-null  object
 4   Price          13580 non-null  float64
 5   Method         13580 non-null  object
 6   SellerG        13580 non-null  object
 7   Date           13580 non-null  object
 8   Distance       13580 non-null  float64
 9   Postcode       13580 non-null  float64
 10  Bedroom2       13580 non-null  float64
 11  Bathroom       13580 non-null  float64
 12  Car            13518 non-null  float64
 13  Landsize       13580 non-null  float64
 14  BuildingArea   7130 non-null   float64
 15  YearBuilt      8205 non-null   float64
 16  CouncilArea    12211 non-null  object
 17  Lattitude      13580 non-null  float64
 18  Longtitude     13580 non-null  float64
 19  Regionname     13580 non-null  object
 20  Propertycount  13580 non-null  float64
dtypes: float64(12), int64(1), object(8)
memory usage: 2.2+ MB

In [33]:
pd.isna(df)

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,True,True,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,True,True,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13575,False,False,False,False,False,False,False,False,False,False,...,False,False,False,True,False,True,False,False,False,False
13576,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,True,False,False,False,False
13577,False,False,False,False,False,False,False,False,False,False,...,False,False,False,True,False,True,False,False,False,False
13578,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,True,False,False,False,False
13579,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,True,False,False,False,False

In [34]:
df.mean()

Rooms            2.937997e+00
Price            1.075684e+06
Distance         1.013778e+01
Postcode         3.105302e+03
Bedroom2         2.914728e+00
Bathroom         1.534242e+00
Car              1.610075e+00
Landsize         5.584161e+02
BuildingArea     1.519676e+02
YearBuilt        1.964684e+03
Lattitude       -3.780920e+01
Longtitude       1.449952e+02
Propertycount    7.454417e+03
dtype: float64